<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile MaxMetal</title>
    <link rel="icon" href="../static/img/logo-duże.png">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Dodaj jQuery -->

<script>


    </script>
</head>
<body>
    <div id="strona">
        <form id="myForm" action="{{ url_for('dodaj_szablon_do_bazy') }}" method="post">
            
            
            
            
            <label for="rodzaj_tasmy">Rodzaj tasmy:</label>
            <input type="text" name="rodzaj_tasmy" required><br>
        
            <label for="grubosc_i_oznaczenie_ocynku">Grubosc i oznaczenie ocynku:</label>
            <input type="text" name="grubosc_i_oznaczenie_ocynku" required><br>
        
            <label for="szerokosc">Szerokość:</label>
            <input type="number" name="szerokosc" step="0.01" required><br>
        
            <label for="grubosc">Grubosc:</label>
            <input type="number" name="grubosc" step="0.01"><br>
        
            <button type="reset" class="button">Wyczyść</button>
            <button type="submit" class="button">Zapisz</button>
        </form>
    </div>
</body>
</html> 