<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obejmy MaxMetal</title>
    <link rel="icon" href="../static/img/logo-male.png">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Dodaj jQuery -->
<script>
        function filtrujMaterial() {
        let input = document.getElementById("szukaj_material").value.toLowerCase();
        let select = document.getElementById("nazwa_materiału");
        let options = select.getElementsByTagName("option");

        for (let option of options) {
            let text = option.textContent.toLowerCase();
            option.style.display = text.includes(input) ? "" : "none";
        }
    }
</script>
</head>
<body>
    <div id="strona">
        <div id="banner">
            <div id="logo-banner">
                    <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
                </div>
        </div>
        <div id="test"></div><br>
        <form id="myForm" action="{{ url_for('dodaj_material_obejma_do_bazy') }}" method="post">
            
           
            <h2>Dodaj Zlecenie</h2>
            <label for="Nr_zamowienia">Nr zamówienia</label>
            <input type="text" name="Nr_zamowienia" required><br>
            <label for="nr_kartonu" name="nr_kartonu">Nr kartonu:</label>
            <input type="number" name="nr_kartonu" required><br>
            <label for="prodio" name="prodio">Nr Prodio:</label>
            <input type="text" name="prodio" required><br>
            <label for="ilosc_pianki" name="ilosc">Ilość pianki:</label>
            <input type="number" name="ilosc_pianki" required><br>
            <label for="seria_tasmy" name="seria_tasmy">Seria taśmy:</label>
            <input type="number" name="seria_tasmy" required><br>
            <label for="ilosc_tasmy" name="ilosc_tasmy">Ilość taśmy:</label>
            <input type="number" name="ilosc_tasmy" required><br>
            <label for="imie">Imię i nazwisko:</label>
            <input type="text" name="imie" required><br>
            <!-- <label for="data">Data powrotu:</label>
            <input type="date" name="data" required><br> -->
            <!-- <label for="szukaj_material">Szukaj Rozmiar:</label>
<input type="text" id="szukaj_material" onkeyup="filtrujMaterial()" placeholder="Wpisz rozmiar.."><br> -->
            

<label>Numer wytopu:</label><br>
{% for nazwa_materiału in rozmiar %}
  {% if nazwa_materiału.ilosc_sztuk_na_stanie > 0 %}
    <label>
      <input 
        type="checkbox" 
        name="nazwa_materiału" 
        value="{{ nazwa_materiału.id }}" 
        data-waga-kregu="{{ nazwa_materiału.ilosc_sztuk_na_stanie }}">
      {{ nazwa_materiału.nr_wytopu }} na stanie: {{ nazwa_materiału.ilosc_sztuk_na_stanie }}
    </label><br>
  {% endif %}
{% endfor %}
            
            
            <button class="button" onclick="window.location.href='{{ url_for('zlecenie') }}'">Powrót</button>
            <button type="reset" class="button">Wyczyść</button>
            <button type="submit" class="button">Zapisz</button>
        </form>
    </div>
</body>
</html>