<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obejmy MaxMetal</title>
    <link rel="icon" href="../static/img/logo-male.png">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Dodaj jQuery -->

</head>
<body>
    <div id="strona">
        <div id="banner">
            <div id="logo-banner">
                    <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
                </div>
        </div>
        <div id="test">
            
        </div>
        <br>
        <form id="myForm" action="{{ url_for('dodaj_tasma_do_bazy') }}" method="post">
    <h2>Dodaj Piankę</h2>
    <label for="nazwa_tasmy_obejmy">Nazwa Pianki:</label>
    <input type="text" name="nazwa_tasmy_obejmy" required><br>

    <label for="ilosc">Ilość:</label>
    <input type="number" name="ilosc" required><br>

    <label for="ilosc_na_stanie">Ilość na stanie:</label>
    <input type="number" name="ilosc_na_stanie" required><br>

    <!-- Dodaj inne pola jeśli są potrzebne w Twoim modelu -->

    <button class="button" onclick="window.location.href='{{ url_for('pianka_obejma') }}'" type="button">Powrót</button>
    <button type="reset" class="button">Wyczyść</button>
    <button type="submit" class="button">Zapisz</button>
</form>
    </div>
</body>
</html>