<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile MaxMetal</title>
    <link rel="icon" href="../static/img/logo-male.png">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Dodaj jQuery -->

<script>


    </script>
</head>
<body>
    <div id="strona">
        <div id="banner">
            <div id="logo-banner">
                    <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
                </div>
        </div>
        <div id="test">
            
        </div>
        <br>
        <form id="myForm" action="{{ url_for('dodaj_szablon_profil_do_bazy') }}" method="post">
            
           
        
            <label for="nazwa_szablonu">Nazwa nr części klienta:</label>
            <input type="text" name="nazwa_szablonu" required><br>
            <label for="waga">Waga w kg na jeden metr:</label>
            <input type="number" name="waga" required step="0.01"min=0><br>
        
            <button type="reset" class="button">Wyczyść</button>
            <button type="submit" class="button">Zapisz</button>
        </form>
    </div>
</body>
</html> 