<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obejmy MaxMetal</title>
    <link rel="icon" href="../static/img/logo-male.png">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Dodaj jQuery -->

</head>
<body>
    <div id="strona">
        <div id="banner">
            <div id="logo-banner">
                    <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
                </div>
        </div>
        <div id="test">
            
        </div>
        <br>
        <form id="myForm" action="{{ url_for('dodaj_rozmiar_obejma_do_bazy') }}" method="post">  
            <!-- do poprawy rozmair na tasma -->
            
           
            <h2>Dodaj ilość taśmy</h2>
            <label for="nazwa_lokalizacji">Ile:</label>
            <input type="text" name="rozmiar_obejm" required><br>
            <button class="button" onclick="window.location.href='{{ url_for('tasma_obejma') }}'">Powrót</button>
            <button type="reset" class="button">Wyczyść</button>
            <button type="submit" class="button">Zapisz</button>
        </form>
    </div>
</body>
</html>