<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obejmy MaxMetal</title>
    <link rel="icon" href="../static/img/logo-male.png">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- Dodaj jQuery -->
    <script>    function filtrujMaterial() {
        let input = document.getElementById("szukaj_material").value.toLowerCase();
        let select = document.getElementById("nazwa_materiału");
        let options = select.getElementsByTagName("option");

        for (let option of options) {
            let text = option.textContent.toLowerCase();
            option.style.display = text.includes(input) ? "" : "none";
        }
    
    }


    function ustawMaksymalnaIlosc() {
    const select = document.getElementById("nazwa_materiału");
    const selectedOption = select.options[select.selectedIndex];
    const maxIlosc = selectedOption.getAttribute("data-max");
    
    const inputIlosc = document.getElementById("ilosc");
    inputIlosc.max = maxIlosc;
    inputIlosc.value = '';  // czyści pole ilości przy zmianie opcji
}
    </script>

</head>
<body>
    <div id="strona">
        <div id="banner">
            <div id="logo-banner">
                    <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
                </div>
        </div>

        <div id="test"></div><br>
        <form id="myForm" action="{{ url_for('dodaj_powrot_do_bazy') }}" method="post">
            
           
            <h2>Dodaj Powrót z Malarni</h2>
                        <label for="szukaj_material">Szukaj partii:</label>
<input type="text" id="szukaj_material" onkeyup="filtrujMaterial()" placeholder="Wpisz nazwę materiału">

<label for="nazwa_materiału">Nazwa Parti:</label>
<select id="nazwa_materiału" name="nazwa_materiału" required size="5" onchange="ustawMaksymalnaIlosc()">
    {% for nazwa_materiału in nazwy_materiału %}
    {% if nazwa_materiału.ilosc_na_stanie > 0 %}
        <option 
            value="{{ nazwa_materiału.id }}" 
            data-max="{{ nazwa_materiału.ilosc_na_stanie }}">
            {{ nazwa_materiału.data }} nr_wytopu {{ nazwa_materiału.ksztaltowanie.material.numer_wytopu }} rozmiar {{ nazwa_materiału.ksztaltowanie.material.rozmiar.nazwa }} wysłane: {{ nazwa_materiału.ilosc_na_stanie }}
        </option>
    {% endif %}
    {% endfor %}
</select><br>
            <label for="wytop">Nr Wytopu:</label>
            <input type="text" name="wytop" required><br>
            <label for="ilosc" name="ilosc">Ilość:</label>
            <input type="number" name="ilosc" id="ilosc" required><br>
            <label for="prodio" name="prodio">Nr Prodio:</label>
            <input type="text" name="prodio" required><br>
            <label for="data">Data:</label>
            <input type="date" name="data" required><br>
            <label for="imie">Imię i nazwisko:</label>
            <input type="text" name="imie" required><br>
            <button class="button" onclick="window.location.href='{{ url_for('powrot') }}'">Powrót</button>
            <button type="reset" class="button">Wyczyść</button>
            <button type="submit" class="button">Zapisz</button>
        </form>
    </div>
</body>
</html>