<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxMetal</title>
    <link rel="icon" href="../static/img/logo-male.png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="strona">
        <div id="banner">
            <div id="menu-main"> 
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" id="menuCheckbox">
                        
                            <span></span>
                            <span></span>
                            <span></span>
                        
                        <ul id="menu">
                        {%if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                        <li>
                            {% if g.user.id_uprawnienia==1 %}
                            <h3>Administrator</h3>
                            {% endif %}
                            <ul>
                                {% if g.user.id_uprawnienia==1 %}
                                    <li>
                                        <a href="{{ url_for('uzytkownik') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Uzytkownicy</label></a>
                                    </li>
                                 {% endif %}
                                {% if g.user.id_uprawnienia==1 %}
                                    <li>
                                        <a href="{{ url_for('uprawnienia') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Uprawnienia</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id_uprawnienia==1 %}
                                    <li>
                                        <a href="{{ url_for('pokaz_logi') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Logi Aplikcji</label></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        <h2>Profile</h2>
                        <ul>
                                {%if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                                    <li>
                                        <a href="{{ url_for('tasma') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Materiały</label></a>
                                    </li>
                                 {% endif %}
                                
                                    <li>
                                        <a href="{{ url_for('profil') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Profile</label></a>
                                    </li>
                                {% if g.user.id_uprawnienia==1 %}
                                    <li>
                                        <a href="{{ url_for('dostawcy') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Dostawcy</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id_uprawnienia==1 %}
                                    <li>
                                        <a href="{{ url_for('szablon') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Nazwy</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                                    <li>
                                        <a href="{{ url_for('lokalizacja') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Magazyny</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                                    <li>
                                        <a href="{{ url_for('dlugosci') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Długości</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                                    <li>
                                        <a href="{{ url_for('szablon_profil') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Nazwy profili</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id_uprawnienia==1 %}
                                    <li>
                                        <a href="{{ url_for('zestawienie') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Zestawienie</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                                    <li>
                                        <a href="{{ url_for('sprzedaz') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Sprzedaż</label></a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% if g.user.id==1 %}
                                <h2>Obejmy Ogniowe</h2>
                            {% endif %}
                            <ul>
                                {% if g.user.id==1 %}
                                    <li>
                                        <a href="{{ url_for('rozmiary_obejm') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Rozmiary</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id==1 %}
                                    <li>
                                        <a href="{{ url_for('material_obejma') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Materiały</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id==1 %}
                                    <li>
                                        <a href="{{ url_for('ksztaltowanie1') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Prasa 60T</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id==1 %}
                                    <li>
                                        <a href="{{ url_for('ksztaltowanie2') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Prasa DMF 45T</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id==1 %}
                                    <li>
                                        <a href="{{ url_for('ksztaltowanie3') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Prasa PMA 10T</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id==1 %}
                                    <li>
                                        <a href="{{ url_for('malarnia') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Malarnia</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id==1 %}
                                    <li>
                                        <a href="{{ url_for('powrot') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Powrót Malarnia</label></a>
                                    </li>
                                {% endif %}
                                {% if g.user.id==1 %}
                                    <li>
                                        <a href="{{ url_for('zlecenie') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Zlecenie</label></a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% if not g.user %}
                        
                            <li>
                                <a href="{{ url_for('login') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Zaloguj się!</label></a>
                            </li>
                        
                            
                        {% else %}
                        <li>
                            <h3><a href="{{ url_for('logout') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Wyloguj się</label></a></h3>
                        </li>
                        {% endif %}
                        <li>
                            <h3><a href=javascript:history.back();><label for="menuCheckbox" onclick="this.parentNode.click();">Powrót</label></a></h3>
                        </li>  
                            
                            
                            <li>
                                <img id="logo1" src="../static/img/logo-duże.png" alt="logo">
                            </li>
                        </ul>   
                    </div>
                </nav>
                <div id="logo-banner">
                    <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
                </div>
                
            </div>
        </div>
        <div id="test">
                {% if g.user.id_uprawnienia==1 %}
                    <div id="title">
                        <h2 class="witaj">Administrator</h2>
                    </div>
                    <hr>
                    <div class="man-container">
                {% if g.user.id_uprawnienia==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('uzytkownik') }}'">Użytkownicy</button>
                {% endif %}
                {% if g.user.id_uprawnienia==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('uprawnienia') }}'">Uprawnienia</button>
                {% endif %}
                {% if g.user.id_uprawnienia==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('pokaz_logi') }}'">Logi Aplikacji</button>
                {% endif %}
                
            </div>
                {% endif %}
            <hr>

                <div id="nag">
                    <h2 class="witaj">Profile</h2>
                </div>

            <hr>
            <div class="man-container">
                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                <button class="button" onclick="window.location.href='{{ url_for('tasma') }}'">Materiały</button>
                {% endif %}
                <button class="button" onclick="window.location.href='{{ url_for('profil') }}'">Profile</button>
                <!-- {% if g.user.id_uprawnienia==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('uzytkownik') }}'">Uzytkownicy</button>
                {% endif %} -->
                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                <button class="button" onclick="window.location.href='{{ url_for('dostawcy') }}'">Dostawcy</button>
                {% endif %}
                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                <button class="button" onclick="window.location.href='{{ url_for('szablon') }}'">Gatunki taśm</button>
                {% endif %}
                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                <button class="button" onclick="window.location.href='{{ url_for('lokalizacja') }}'">Magazyny</button>
                {% endif %}
                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                <button class="button" onclick="window.location.href='{{ url_for('dlugosci') }}'">Długości</button>
                {% endif %}
                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                <button class="button" onclick="window.location.href='{{ url_for('szablon_profil') }}'">Nazwy profili</button>
                {% endif %}
                {% if g.user.id_uprawnienia==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('zestawienie') }}'">Zestawienie</button>
                {% endif %}
                {% if g.user.id_uprawnienia==1 or g.user.id_uprawnienia==2%}
                <button class="button" onclick="window.location.href='{{ url_for('sprzedaz') }}'">Sprzedaż</button>
                {% endif %}
                
            </div>
                    <hr>
                    {% if g.user.id==1 %}
                    
                    <div id="nag">
                        <h2 class="witaj">Obejmy Ogniowe</h2>
                    </div>
                    <hr>
                    {% endif %}
                    
            <div class="man-container">
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('tasma_obejma') }}'">Taśma</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('pianka_obejma') }}'">Pianka</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('rozmiary_obejm') }}'">Rozmiary</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('material_obejma') }}'">Materiały</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('ksztaltowanie1') }}'">Prasa 60T</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('ksztaltowanie2') }}'">Prasa DMF 45T</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('ksztaltowanie3') }}'">Prasa PMA 10T</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('malarnia') }}'">Malarnia</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('powrot') }}'">Powrót Malarnia</button>
                {% endif %}
                {% if g.user.id==1 %}
                <button class="button" onclick="window.location.href='{{ url_for('zlecenie') }}'">Zlecenie</button>
                {% endif %}
            </div>
            {% if g.user.id==1 %}
            <hr>
            {% endif %}
        </div>
        
    </div>
</body>
<script>
    //skrypt na ukrywanie menu po kliknięciu poza nim
    document.addEventListener('click', function(event) {
    const menu = document.getElementById('menuToggle');
    const checkbox = document.getElementById('menuCheckbox');
    if (!menu.contains(event.target) && checkbox.checked) {
        checkbox.checked = false;
    }
});
</script>
</html> 
