<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile MaxMetal</title>
    <link rel="icon" href="../static/img/logo-duże.png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="strona">
        <div id="banner">
            <div id="menu-main">
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" id="menuCheckbox">

                        <span></span>
                        <span></span>
                        <span></span>

                        <ul id="menu">
                            {% if not g.user %}
                        
                            <li>
                                <a href="{{ url_for('login') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Zaloguj się!</label></a>
                            </li>
                        
                            
                        {% else %}
                        <li>
                            <a href="{{ url_for('logout') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Wyloguj się</label></a>
                        </li>
                        {% endif %}
                        {% if g.user.id_uprawnienia==1 %}
                        <li>
                            <a href="{{ url_for('register') }}"><label for="menuCheckbox" onclick="this.parentNode.click();">Dodaj pracownika</label></a>
                        </li>
                        {% endif %}
                        <li>
                            <a href=javascript:history.back();><label for="menuCheckbox" onclick="this.parentNode.click();">Powrót</label></a>
                        </li>  
                            <li>
                                <a href="{{ url_for('contact') }}">
                                    <label for="menuCheckbox" onclick="this.parentNode.click();">Zgłoś błąd!</label>
                                </a>
                            </li>
                            
                            <li>
                                <img id="logo1" src="../static/img/logo-duże.png" alt="logo">
                            </li>
                        </ul>   
                    </div>
                </nav>
                <div id="logo-banner">
                    <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
                </div>
                
            </div>
        </div>
        <div id="content">
            <div id="title">
                {% if user %}
                <h2 id="witaj">Witaj, {{ user.imie }}!</h2>    
            {% endif %}
            </div>
            

        </div>
        <hr>
        <div class="man-container">
            <button class="button" onclick="window.location.href='{{ url_for('tasma') }}'">materiał</button>
            <button class="button" onclick="window.location.href='{{ url_for('profil') }}'">profil</button>
            {% if g.user.id_uprawnienia==1 %}
            <button class="button" onclick="window.location.href='{{ url_for('uzytkownik') }}'">uzytkownicy</button>
            {% endif %}
            {% if g.user.id_uprawnienia==1 %}
            <button class="button" onclick="window.location.href='{{ url_for('dostawcy') }}'">dostawcy</button>
            {% if g.user.id_uprawnienia==1 %}
            <button class="button" onclick="window.location.href='{{ url_for('szablon') }}'">Nazwy</button>
            {% endif %}
            {% endif %}
        </div>
                <hr>
        
        
    </div>
</body>
</html> 
