<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile MaxMetal</title>
    <link rel="icon" href="../static/img/logo-duże.png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="banner">
        <div id="logo-banner">
            <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
        </div>
    </div>
        <div id="title">
            <h2>Zarejestruj się użytkownika</h2>
        </div>
    <div id="register">
        <form action="/rejestracja_do_bazy" method="POST"  autocomplete="off">
            <label for="option-mail">Login</label>
            <input type="text" id="login" name="login" placeholder="Wpisz login" required><br>
            <label>Hasło</label>
            <input type="password" id="password" name="password" placeholder="Wpisz hasło"  min="6">
            <button type="button" id="togglepasswd">Pokaż hasło</button><br><br>
            
            
            <label for="email">Uprawnienia</label>
            <select name="id_uprawnienia" id="id_uprawnienia">
                <option value="1">Administrator</option>
                <option value="2">Zaopatrzeniowiec</option>
                <option value="3">Pracownik</option>
            </select><br>
            
            <button class="button" onclick="window.history.back()">Powrót</button>
            <input type="reset" class="button" value="Wyczyść">
            <input type="submit" class="button" value="Zatwierdź">
        </form>
    </div>

    <script>
        togglePasswordButton = document.getElementById('togglepasswd');
        passwordInput = document.getElementById('password');

    togglePasswordButton.addEventListener('click', function () {

        type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        this.textContent = type === 'password' ? 'Pokaż hasło' : 'Ukryj hasło';
    });
</script>
</body>
</html>