<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile MaxMetal</title>
    <link rel="icon" href="../static/img/logo-duże.png">
<link rel="icon" href="../static/img/LumpLogo.png">
</head>
<body>
    <div id="strona">
        <div id="banner">
            <div id="logo-banner">
                <a href="{{ url_for('home') }}"><img id="logo-duże" src="../static/img/logo-duże.png" alt="logo"></a>
            </div>
        </div>
        
        <div id="title"><h1>Regulamin sklepu internetowego Lump Store</h1></div>

        <h2>§ 1. Postanowienia ogólne</h2>
        <p>
            1. Sklep internetowy Lump Store, dostępny pod adresem <a href="{{url_for('home')}}">127.0.0.1:5000</a>, jest prowadzony przez Aleksandra Grobelnego, Jakuba Kaczmarka, Danylo Bondar.
        </p>
        <p>
            2. Regulamin określa zasady korzystania ze sklepu internetowego, składania zamówień oraz zawierania umów sprzedaży.
        </p>

        <h2>§ 2. Warunki korzystania ze sklepu</h2>
        <p>
            1. Klientem sklepu może być każda osoba fizyczna, prawna lub jednostka organizacyjna posiadająca pełną zdolność do czynności prawnych.
        </p>
        <p>
            2. Do korzystania ze sklepu niezbędne jest posiadanie urządzenia z dostępem do Internetu oraz aktualnej przeglądarki internetowej.
        </p>

        <h2>§ 3. Składanie zamówień</h2>
        <p>
            1. Zamówienia w sklepie można składać 24/7 za pośrednictwem strony internetowej.
        </p>
        <p>
            2. Aby złożyć zamówienie, należy:
        </p>
        <ul>
            <li>Wybrać produkt i dodać go do koszyka.</li>
            <li>Wypełnić formularz zamówienia, podając dane niezbędne do realizacji zamówienia.</li>
            <li>Dokonać płatności za zamówienie.</li>
        </ul>

        <h2>§ 4. Płatności i dostawa</h2>
        <p>
            1. Sklep oferuje następujące metody płatności:
        </p>
        <ul>
            <li>Przelew bankowy.</li>
        </ul>
        <p>
            2. Zamówienia są realizowane w terminie [X dni roboczych] od zaksięgowania płatności.
        </p>
        <p>
            3. Koszty dostawy są wskazane na stronie podczas składania zamówienia.
        </p>

        <h2>§ 5. Zwroty i reklamacje</h2>
        <p>
            1. Klient ma prawo odstąpić od umowy w terminie 14 dni od otrzymania produktu, bez podania przyczyny.
        </p>
        <p>
            2. W celu dokonania zwrotu należy przesłać produkt na adres: Jana Kilińskiego 23/1.
        </p>
        <p>
            3. Reklamacje dotyczące wad produktów należy zgłaszać na adres e-mail: kontakt_lumpstore@interia.pl .
        </p>

        <h2>§ 6. Ochrona danych osobowych</h2>
        <p>
            1. Dane osobowe klientów są przetwarzane zgodnie z przepisami RODO oraz polityką prywatności sklepu.
        </p>
        <h2>§ 7. Postanowienia końcowe</h2>
        <p>
            1. Regulamin wchodzi w życie z dniem [data].
        </p>
        <p>
            2. Sklep zastrzega sobie prawo do zmian w regulaminie. O każdej zmianie klient zostanie poinformowany.
        </p>

        <p>W przypadku pytań, prosimy o kontakt pod adresem e-mail: <a href="{{url_for('contact')}}">kontakt_lumpstore@interia.pl</a>.</p>
        <button class="button" onclick="window.history.back()">Powrót</button>
    </div>
</body>
</html>